@extends('layouts/app')

@section('content')

<h1>Dashboard</h1>
<p>Welcome, {{ auth.user?.fullName }}</p>

<a href="/products/create">+ Add Products</a>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>

    @each(product in products)
    <tr>
        <td>{{ product.name}} </td>
    </tr>
</table>